body {
   background-color: white;
   height: auto;
}

div {
   background-color: lightblue;
   padding: 10px 5px 15px 3px;
}

p {
   background-color: lightcyan;
   padding: 10px 5px 15px 3px;
   width: auto;
}

ol {
   background-color: darkgreen;
}

div.acerca-de-mi {
   display: flex;
   flex-wrap: wrap;
   justify-content: auto;
   width: auto;
   height: auto;
}

section {
   display: flex;
   flex-wrap: wrap;
   justify-content: auto;
   width: auto;
   height: auto;
}

div.mas-info {
   display: flex;
   flex-wrap: wrap;
   justify-content: auto;
   width: auto;
   height: auto;
}

ul {
   background-color: grey;
}

footer {
   background-color: brown;
   padding: 2px 2px 1px 3px;
}

img {
      max-width: 300px; /* Establece el ancho máximo de las imágenes */
      height: auto; /* Mantiene la proporción de aspecto de las imágenes */
      display: block; /* Asegura que las imágenes se muestren como bloques */
      margin: auto; /* Centra las imágenes horizontalmente */
      background-color: #d6e9fe;
}

@media (max-width: 768px) {
   div.acerca-de-mi,
   div.mas-info {
       width: 45%;
   }

   footer {
       color: yellow;
   }
}
header {
   background-color: #333;
   color: #fff;
   padding: 20px 0;
}

.container {
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container h1 {
   margin: 0;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   display: inline-block;
   margin-left: 20px;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
}

nav ul li a img {
   width: 30px; /* Tamaño de los logos */
   height: auto;
   border-radius: 50%; /* Hace que los logos sean redondos */
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex; /* Utiliza flexbox para alinear los elementos en línea */
   align-items: center;
}

nav ul li a:hover {
   text-decoration: underline;
}
      
